<?xml version="1.0" ?>
<launch>
  <arg name="robot" default="panda" doc="choose your robot. Possible values: [panda, fr3]"/>
  <arg name="arm_id" default="$(arg robot)" />
  <arg name="robot_ip" default="192.168.3.122" />
  <arg name="rosbag_record_traj" default="false" />
  <arg name="rosbag_record_real" default="true" />
  <arg name="rqt_plot" default="false" />
  <arg name="rviz" default="false" />

  <include file="$(find franka_control)/launch/franka_control.launch" pass_all_args="true"/>
  <rosparam command="load" file="$(find mani_qp_controller)/config/mani_qp_controller.yaml"/>
  <rosparam command="load" file="$(find mani_qp_controller)/config/collision_behavior.yaml" />
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"  args="mani_qp_controller"/>
  <node pkg="rqt_plot" name="rqt_plot_position" type="rqt_plot" args="/joint_states/position[0] /joint_states/position[1] /joint_states/position[2]
  /joint_states/position[3] /joint_states/position[4] /joint_states/position[5] /joint_states/position[6]" 
  if="$(arg rqt_plot)"/>
  <node pkg="rviz" type="rviz" output="screen" name="rviz" args="-d $(find franka_example_controllers)/launch/robot.rviz -f $(arg arm_id)_link0 --splash-screen $(find franka_visualization)/splash.png"
  if="$(arg rviz)" />

  <!-- record trajectory -->
  <node pkg="rosbag" type="record" name="rosbag_record_q_traj"
        args="record -O /home/gari/mani_check_before/src/mani_qp_controller/data/bags/joint_position_dyn.bag /franka_state_controller/joint_position"
        if="$(arg rosbag_record_traj)" />
  <node pkg="rosbag" type="record" name="rosbag_record_dq_traj"
        args="record -O /home/gari/mani_check_before/src/mani_qp_controller/data/bags/joint_velocity_dyn.bag /franka_state_controller/joint_velocity"
        if="$(arg rosbag_record_traj)" />
  <!-- record real motion -->
  <node pkg="rosbag" type="record" name="rosbag_record_q_real"
        args="record -O /home/gari/mani_check_before/src/mani_qp_controller/data/bags/joint_position_real_mani_1107.bag /franka_state_controller/joint_position"
        if="$(arg rosbag_record_real)" />
  <node pkg="rosbag" type="record" name="rosbag_record_dq_real"
        args="record -O /home/gari/mani_check_before/src/mani_qp_controller/data/bags/joint_velocity_real_mani_1107.bag /franka_state_controller/joint_velocity"
        if="$(arg rosbag_record_real)" />

</launch>
